body{
    font-family: 'Poppins', sans-serif;
}
.footer{
    background-color: rgb(115, 3, 143);    
}

.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}

.row .col1{
    flex-basis:25%;
    align-items:center;
    min-width:300px;
}
a{
    text-decoration:none;
    color:rgb(0, 0, 0);
}
.row .col1 ul{
    display:inline-block;
    list-style-type:none;
    
}

.f{
    background-color: rgb(162,0,162);
    flex-basis:25%;
    min-width:300px;
}